<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Quick Facts (Click Here)</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <ul id="list-group">
                <% facts.forEach(function(fact) { %>
                    <li class="list-group-item"><%= fact %></li>
                <% }); %>
            </ul>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>