<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Solar System</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid">
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand" href="#">The Solar System</span>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/#">Home</a></li>
                <li><a href="/mercury">Mercury</a></li>
                <li><a href="/venus">Venus</a></li>
                <li><a href="/earth">Earth</a></li>
                <li><a href="/mars">Mars</a></li>
            </ul>
        </div>
    </nav>