<% include partials/header %>

    <h1>Welcome to my Solar System site!</h1>

    <img src="/img/solar_system.jpg" alt="The Solar System" class="img-responsive home-img"/>

    <br>
    <hr>
    <div class="intro-content">
        <p>
            This site showcases a picture and 3-4 quick facts about the 4 closest planets to the Sun in our Solar System: Mercury, Venus, Earth, and Mars. Each of these planets have their own unique characteristics. I hope you enjoy the site!
        </p>
        <hr>
        <p>Click on a planet to learn more about it (or use the navigation bar above):</p>
    </div>
    <br>
    <div class="intro-links">
        <a href="/mercury"> <b>Mercury</b> </a><br>
        <a href="/venus"> <b>Venus</b> </a><br>
        <a href="/earth"> <b>Earth</b> </a><br>
        <a href="/mars"> <b>Mars</b> </a><br>
    </div>

<% include partials/footer %>